<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brand Name</title>
    <style>
        /*CLEAR*/
        body {
            margin: 0;
            margin-top: 1rem;
            display: flex;
            justify-content: center;
        }

        /* DIMENSIONS */
        .w-12 {
            width: 3rem;
        }

        .h-12 {
            height: 3rem;
        }

        .w-1p2 {
            width: 50%;
        }

        .w-3p4 {
            width: 75%;
        }

        /* MARGINS */
        .mt-2 {
            margin-top: 0.5rem;
        }

        .mt-4 {
            margin-top: 1rem;
        }

        .mr-4 {
            margin-right: 1rem;
        }

        .ml-4 {
            margin-left: 1rem;
        }

        .mt-8 {
            margin-top: 2rem;
        }

        .mx-8 {
            margin-right: 2rem;
            margin-left: 2rem;
        }

        /* PADDINGS */
        .pb-2 {
            padding-bottom: 0.5rem;
        }

        .p-4 {
            padding: 1rem;
        }

        .py-4 {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        /* BACKGROUNDS */
        .bg-oblue {
            background-color: #40B0E0;
        }

        .bg-oblue-no-hover {
            background-color: #40B0E0;
        }

        .bg-oblue:hover {
            background-color: #2292c2;
        }

        /* BORDERS */
        .border-1 {
            border: 2px solid;
        }

        .border-gray {
            border-color: #dad5d5;
        }

        /* TEXT DIMENSIONS */
        .text-16 {
            font-size: 16px;
        }

        .text-18 {
            font-size: 18px;
        }

        .text-20 {
            font-size: 20px;
        }

        .text-24 {
            font-size: 24px;
        }

        .text-32 {
            font-size: 32px;
        }

        /* DISPLAYS */
        .flex {
            display: flex;
        }

        .justify-between {
            justify-content: space-between;
        }

        .justify-center {
            justify-content: center;
        }

        .justify-end {
            justify-content: end;
        }

        .items-center {
            align-items: center;
        }

        .inline-block {
            display: inline-block;
        }

        /* TEXT COLORS */
        .text-oblack {
            color: #4F4F4F
        }

        .text-obluedivider {
            color: #1D4569;
        }

        .text-oblue {
            color: #476282;
        }

        .text-ogray {
            color: #dad5d5;
        }

        .text-owhite {
            color: #FAFAFA;
        }

        /* TEXT PROPERTIES */
        .uppercase {
            text-transform: uppercase;
        }

        .capitalize {
            text-transform: capitalize;
        }

        .bold {
            font-weight: bold;
        }

        .italic {
            font-style: italic;
        }

        .break-all {
            word-break: break-all;
        }

        /* ROUNDEDS */
        .rounded-1 {
            border-radius: 1rem;
        }

        /* CURSORS */
        .cursor-pointer {
            cursor: pointer;
        }

        /* CUSTOMS */
        .center-horizontal {
            display: table;
            margin: 0 auto;
        }

        .link {
            text-decoration: none;
        }
    </style>
</head>

<body class="text-16 text-oblack">
    <div class="py-4 inline-block border-1 border-gray">
        <div class="pb-2 mx-8 center-horizontal">
            <div class="flex items-center">
                <img class="w-12 h-12" src="" alt="img">
                <div class="ml-4 text-32 text-oblue bold uppercase">Brand Name</div>
            </div>
        </div>

        <hr class="text-obluedivider" style="border-width: 2px" />

        <div class="pb-2 mt-8 mx-8">
            <div class="text-24 capitalize bold">registrasi berhasil</div>
        </div>
    </div>
</body>

</html>